<footer>
    <div class="grid">
        <div class="unit one-third center-on-mobiles">
            <p>My journey doing the CIE Advanced Level - Information Technology (9626) syllabus in 3 months.</p>
            <p>
                The contents of this website are <br />&copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the
                <a href="{{ site.repository }}/blob/master/LICENSE">MIT&nbsp;License</a>.
            </p>
            <p>
                Made by
                <a href="https://hirusha.xyz">
                    @hirushaadi
                </a>
            </p>
        </div>
        <div class="unit two-thirds align-right center-on-mobiles">
            <p style="margin-top: 5px; border-radius: 15px">
                <a href="https://github.com/hirusha-adi">
                    <img src="https://avatars.githubusercontent.com/u/36286877?v=4" width="150" height="150"
                        alt="GitHub • @hirushaadi Profile Picture">
                </a>
            </p>
        </div>
    </div>
</footer>